.bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid;
  height: 120px;
}

@media all and (max-width: 768px) {
  .hide {
    display: none;
  }
}